/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  text-align: right;
}

.result.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
}

span.input-group-text {
  cursor: help;
}

span.input-group-text.unit {
  cursor: default;
  min-width: 77.6px;
  justify-content: center;
}

span.input-group-text.label {
  min-width: 92px;
  justify-content: center;
}